parameters:
    paths:
        - src

    # O nível 9 é o mais alto
    level: 9

    treatPhpDocTypesAsCertain: false

    # Ignore trait.unused errors since traits are used by external code
    ignoreErrors:
        - identifier: trait.unused
